{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}Sistema de Estoque{% endblock  %}</title>
    <link rel="stylesheet" href="{% static '/styles.css' %}">
</head>
<body>
    <header>
        <h1>hello world</h1>
        <nav>
            <ul>
                <li><a href="{% url 'estoque' %}">Estoque</a></li>
                <li><a href="{% url 'movimentacoes' %}">Movimentações</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>